<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>社区</title>
    <!-- <link rel="stylesheet" href="../static/css/b_comu.css"> -->
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/icclub.css">
    <link rel="stylesheet" href="../static/css/community.css">
    <link rel="stylesheet" href="../static/css/footer.css">

    <script src="../static/js/base_con.js"></script>
    <script src="../static/js/jquery.min.js"></script>
</head>

<body>

<div id="head"></div>
    <div id="left_box">
        <div id='dynamic_label'>
            <ul><li class="comm_tag">情感</li></ul>
            <ul><li class="comm_tag">小情绪</li></ul>         
            <ul><li class="comm_tag">吐槽</li> </ul>           
            <ul><li class="comm_tag">小开心</li></ul>            
        </div>
    </div>
    <div id="comm_box">
        <div id="head_sidebar">
            <span class="title_sidebar">最新内容</span>
            <span class="title_sidebar">热评榜</span>
            <span class="title_sidebar">好评榜</span>
            <span class="title_sidebar">热搜榜</span>
        </div>

        <div id="master_page">
            <div id="every_box">
                <div class="user_info_box">
                    <ul>
                        <li>
                            <span class="user_name">小白</span>
                            <div articles_info>
                                <span class="content_tag">文章标签</span>
                                <img src="" alt="">
                                <label class="">点赞数</label>
                                <span class="click_num">0</span>
                                <lable>收藏数</lable>
                                <span class="favorite">0</span>
                            </div>

                        </li>
                    </ul>
                </div>
                <div id="content">
                    <p class="content_info">
                        音乐对于我们大多数人来讲，可以说是不可或缺的。它可以涤荡我们的心胸，升华我们的灵魂，音乐的功效可以说是难以言语的，音乐可以说是我们生命的一部分，对于某些人来讲，生活中缺少了音乐，生命就欠缺了灵性。听着动人的音乐，心潮随着音乐的节拍荡漾起伏，生活中的烦恼全部抛在脑后，从音乐的曲谱中，读出了感人的情，从这难以割舍的情致中，我们细细的品尝我们的生活，我们蓦然发现，原来音乐用华丽且真挚的曲谱歌唱了我们平淡而又真实的生活，音乐来源于生活，而又高于生活，他让生活充满了跳动的色彩，生活影响并丰富着音乐，他让音乐随着历史的长河生生不息
                    </p>
                </div>
            </div>
        </div>
    </div>


<!-- <div id="foot"></div> -->

<script>
    $("#head").load("header.html");
</script>
<script src="../static/js/tool_kit.js"></script>
<script src="../static/js/header.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/js/active_user.js"></script>
<script src="/static/js/z_index.js"></script>
<script src="../static/js/tips.js"></script>
<script src="/static/js/label.js"></script>


<script>
    getFocus($('#l2>a'));
</script>

</body>
</html>
