<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>评论测试</title>
</head>
<body>
 


    <div class="comment" id="comment_box">
    <div class="part__hd">
        <h2 class="part__tit">评论<span class="all_comment_num">共530条评论</span></h2>
    </div>
    <div class="comment_input">
        <textarea rows="10" cols="30" nam="comment" id="comment">
            我是一个文本框。
            </textarea>
        <input type="button" value="评论"  id="submit">
    </div>
    <div class="all_comment">
        <div class="comment_type_title">
            <h2 class="comment_new_count">最新评论(530)</h2>
        </div>
        <ul class="comment_list">


        </ul>

    </div>

</body>
</html>