<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>社区</title>
    <link rel="stylesheet" href="../static/css/b_comu.css">
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/icclub.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/admin_article.css">
    <link rel="stylesheet" href="../static/css/active_user.css">
    <link rel="stylesheet" href="../static/css/changelabel.css">
    <script src="../static/js/base_con.js"></script>
    <script src="../static/js/jquery.min.js"></script>
</head>


<body>

<div id="head"></div>



<div id="foot"></div>

<script>
    $("#head").load("header.html");
    $("#foot").load("footer.html");
</script>
<script src="../static/js/header.js"></script>
<script src="../static/js/index.js"></script>
<script src="/static/js/z_index.js"></script>
<script src="../static/js/active_user.js"></script>
<script src="../static/js/tips.js"></script>


<script>
    getFocus($('#l2>a'));
</script>

</body>
</html>