<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=GK8muKdwK0w3So6HW89F8KlHc5BKzdbL"></script>

</head>
<body>
    <div id="nav">
        <div id="top">
            <img src="../static/images/bj/timg01.jpeg" alt="">
        </div>
        <img id="bg" src="../static/images/bj/timg01.jpeg" alt="">

        <div class="box1">

            <a href="">
                <i>
                    <p class="text">
                        ICClub
                    </p>

                </i>
            </a>
            <p class="text">
                身体跟灵魂必须有一个在路上
            </p>
        </div>
        <div id="box">
            <div class="logtop">
                <h2 class="h1"><a id="h1" href="#">登录</a></h2>
                <span class="line"></span>
                <h4 class="h2"><a id="h2" href="#">新用户注册</a></h4>

            </div>
            <hr class="hrtop">
            <div class="put">
                <div class="bo1">
                    <p>用户名 : </p>
                    <input type="text" id="username"
                       placeholder="用户名/微博账号"  name="username"
                       maxlength="16" required ="if(this.value.replace(/^+| +$/g,'')=='')alert('不能为空!')"  autofocus >
                     <img class="img1" src="../static/images/right.jpg" alt="">
                    <span >请输入正确的用户名</span>
                </div>
            </div>



            <div class="put">
                <div class="bo1">
                    <p>密码 : </p>
                    <input type="password" id="passwd" placeholder="6-16位 数字 + 字母" name="passwd" maxlength="16"
                        pattern="\w{6,16}" required autocomplete="on" >
                    <img class="img1" src="../static/images/right.jpg" alt="">

                    <span>请按规则输入正确密码</span>
                </div>
            </div>
            <div class="put">
                <div class="bo1">
                    <p>手机号码 : </p>
                    <input type="text" id="phone" placeholder="11位手机号码" name="phone" maxlength="11"
                        pattern="\w{11}" required autocomplete="on" minlength="11">
                    <img class="img1" src="../static/images/right.jpg" alt="">
                    <span>请输入手机号码</span>
                </div>

            </div>
            <div class="put">
                <div class="bo1">
                    <p>手机验证 : </p>

                    <input type="text" id="code"
                       placeholder='输入验证码'  name="phonecode" pattern="\w{6}"
                       maxlength="6" minlength="6" required>
                    <img class="img1" src="../static/images/right.jpg" alt="">
                    <span id="tips">请输入验证码</span>
                    <button id="but">点击获取验证码</button>
                </div>

            </div>
            <hr class="hrbut">
            <div class="sub">
                <input type="button" id="sub" value='登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录'>
            </div>

            <div class="put1">

                <div class="weibo">
                    <span id="quickly">快速登录</span>
                    <a href="https://passport.weibo.cn/signin/login"><img src="../static/images/weibo.jpg" width="20px" height="20px" alt=""></a>
                </div>

                <a id="passwd_forget" href="#">忘记密码？</a>
            </div>
        </div>
    </div>
    <script src = '../static/js/jquery.min.js'></script>
    <script src = '../static/js/base_con.js'></script>
    <script src="../static/js/login.js"></script>
{#    <script src="../static/js/regist.js"></script>#}

    <script>
        $('#sub').click(function () {
            //获取 ajax  异步发送信息
            alert('进来了');
            var username = $('#username').val();
            var password = $('#passwd').val();
            var code = $('#code').val();
            var phone = $('#phone').val();

            // if (phone === 0 || !(/^1[34578]{1}\d{9}$/).test(phone)) {
            //     alert('手机格式有误请核对，');
            //
            // }
            //生成  json对象
            data = {'username': username, 'password': password, 'code': code, 'phone': phone};
            var token = window.localStorage.getItem('user_token');
            //    判断 username 密码 规则
            alert(username);
            if (username !== '' && password !== '' && code !== '') {
                $.ajax({
                    type: 'POST',
                    //HTTP_AUTHORIZATION
                    headers: {
                        'Authorization': token
                    },

                    url: SER_URL + '/user/login',
                    dataType: 'json',
                    contentType: 'application/json;charset=utf8',
                    data: JSON.stringify(data),
                    success: function (result) {
                        if (result.code === 200) {
                            //将数据存储到本地 存储
                            window.localStorage.clear();
                            window.localStorage.setItem('user_name', result.username);
                            window.localStorage.setItem('user_id', result.id);
                            window.localStorage.setItem('user_token', result.token);
                            alert('欢迎您' + result.username + '登录成功');
                            //新页面打开url地址
                            //window.open(Base_url_regist);
                            setTimeout(function () {
                            });
                            //在当前页面打开指定的url页面
                            window.location.href = 'index.html';
                        } else {
                            alert(result.message)
                        }
                    }
                })
            } else {
                alert('登录信息不能为空')
            }
        });


        //页面跳转
        $('#h1').click(function () {
            window.location.href = STAC_URL + 'login.html'
        });
        $('#h2').click(function () {
            window.location.href = STAC_URL + 'regist.html'
        });


        //短信发送


        $('#but').click(function () {
            var phone = $('#phone').val();
            var username = $('#username').val();
            var phone_number = {'phone_number': phone, 'username': username};
            if (phone === 0 || !(/^1[34578]{1}\d{9}$/).test(phone) || username === '') {
                alert('手机格式有误请核对')
            } else {
                //设置时间倒计时
                time($('#but'));
                $.ajax({
                    type: 'post',
                    url: SER_URL + 'user/send_sms',
                    dataType: 'json',
                    data: JSON.stringify(phone_number),
                    success: function (result) {
                        if (result.code === 200) {
                            alert('短信已发送')
                        } else {
                            alert(result.message)
                        }
                    }
                })
            }
        });


        function time(name) {
            var step = 59;
            var but_code = name;
            var res = setInterval(function () {
                but_code.css('backgroundColor', "#cccccc");
                but_code.attr('disabled', true);
                but_code.html('重新发送&nbsp;&nbsp;' + step);
                step -= 1;
                if (step <= 0) {
                    but_code.removeAttr('disabled');
                    but_code.html('点击获取验证码');
                    but_code.css('backgroundColor', "#21f6f9");
                    clearInterval(res);
                }
            }, 1000)
        }


        // 检测地址是否在服务区
        function myFun(result) {
            var cityName = result.name;
            if (cityName !== '成都市') {
                alert('系统检测到您当前地址不在服务区内,相关活动将会有所限制')
            }
            // alert('欢迎使用')
        }

        var myCity = new BMap.LocalCity();
        myCity.get(myFun);


        $('#passwd_forget').click(function () {
            alert('进来了');
            $.ajax({
                type:'GET',
                url:SER_URL+'user/find_passwd',
                success:function (result) {
                    if (result.code === 200){
                        alert(result.message);
                        window.location.href = STAC_URL+'find_passwd.html'
                    } else {
                        alert(result.message)
                    }
                }
            })
        });






    </script>

</body>
</html>