<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>circle</title>
    <link rel="stylesheet" href="zjq/circle.css">
    <script src="zjq/jquery.min.js"></script>

    <style>

        #circle{
            position: absolute;
            top: 200px;
            left: 200px;
            width: 100px;
            height: 50px;
            border-radius: 0;
            color: rebeccapurple;
            background-color: silver;
            text-align: center;
            line-height: 0;
            opacity: 0;
            padding: 0;
        }
        #text{

        }
    </style>
</head>
<body>


    <div id='circle' class="circle">
        <div id="text">
            {{ data|truncatechars:20 }}
        </div>

    </div>




    <script src="../static/js/baidu.js"></script>

    <script>
        String.prototype.signMix= function() {
            if(arguments.length === 0) return this;
            var param = arguments[0], str= this;
            if(typeof(param) === 'object') {
                for(var key in param)
                str = str.replace(new RegExp("\\{" + key + "\\}", "g"), param[key]);
                return str;
            } else {
                for(var i = 0; i < arguments.length; i++)
                    str = str.replace(new RegExp("\\{" + i + "\\}", "g"), arguments[i]);
                return str;
            }
        }

        // 获取几位数的小数
        function getint(){
            var res = Math.random().toFixed(3)
            return res*1000
        }

        // 获取几个0-9的整数
        function getnum(data){
            var res = [];
            while(res.length<data){
            res.push(Math.floor(Math.random()*10))}
            return res
        }

        function makecircle(){
            // 步骤： 圈圈由小变大  淡现   一定尺寸后  淡出
            // 确定圆圈数量
            // 圆圈宽度   高度  透明度
            // 从最小加速变大
            // 一定大小后 几秒内 变大速度减小
            // 淡隐消失


        }


    </script>

    <script>
            $('#circle').animate(
        {
            'width':200,
            // 'height':500,
            'border-radius':100,
            'line-height':5,
            'opacity':1,
            'padding-top':50,
            'padding-bottom':50,


        },
        4000
    )

    </script>

</body>
</html>