<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Untitled Page</title>
    <script type="text/javascript" src="js/mootools.js"></script>
    <script type="text/javascript" src="js/swfobject.js"></script>
    <script type="text/javascript" src="js/videobox.js"></script>
    <link rel="stylesheet" href="css/videobox.css" type="text/css" media="screen" />
</head>
<body>
    <a href="" rel="vidbox 400 300" title="caption">youtube怀念哥哥张国荣特辑</a>
    <a href="H:\ITM\new-video\5.30最新源录制全国探花吴总酒店约嫖零零后婴儿肥幼师学生兼职妹啪啪 6.0 - 国产正能量.mp4" rel="vidbox"  title="caption">our video</a>

</body>
</html>