

#comm_box {
    float: right;
    width: 55%;
    height: 20%;
    background-color: brown;
    margin-right: 25%

}

#left_box{
    float: left;
    margin-left: 15%;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b083b6), to(#4fc2d1));
    width: 5%;
    margin-left: 14%;


}

#master_box{
    width: 50%;
    background-color: yellow;
    float: right;
    margin-right: 30%;

}


/* 顶部样式 */
#head_sidebar {
    width: 80%;
    height: 20%;
    background-color:yellow;
    color: rgb(63, 56, 48);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}




/* 侧边栏 */
.comm_tag{
    margin-top: 50%;
    margin-bottom: 20%;
    height: 80%;
    color: black;
    font-size: 30px;
    margin-left: 10%;


}

/* 顶部 内部样式 */

.title_sidebar {
    /* margin-left: 10%; */
    width: 50%;
    height: 20%;
    background-color:yellow;
    color: black;
    font-size: 40px;
    font-weight: 700
}


/* #foot{
    margin-top: 100%;
} */

#box2_right{
    /* position:fixed; */
    position: absolute;
    left:70%;
    top: 18%;
    width: 16%;
    height: 1380px;
    padding: 32px 33px 0 15px;
    border: solid 2px purple;
    /* margin: 0 auto; */
    margin-right: 7%;
    background: -webkit-gradient(linear, 20% 20%, 20% 100%, from(#4e77ac), to(#aad16c));
    border-radius: 20px;
    margin-right: 100px;
    margin-left: 15px;
    
}

