
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模板</title>
    <script src="../static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/project.css">


</head>
<body>
{#<div id="bbody">#}
    {% include 'header.html' %}

<div id="sub">
    <div id="left">
        <h1>主体内容放这里</h1>

        <div id="act_title">
            <h1>创建活动</h1>
        </div>
        <div id='act_message'>
            <div class="kind">
                <label>活动类别</label>
                <select name="select_kind" id="select">
                    <option value="v1">请选择</option>
                    <option value="v2">跑步</option>
                    <option value="v3">旅游</option>
                </select>
            </div>

            <div>
                <label>活动标题</label>
                <input id="title" type="text" placeholder="必填" onfocus="javascript:this.value=''">
            </div>
            <div>
                <label>发起人</label>
                <input id="author" type="text" placeholder="必填" onclick="checkinput()">
            </div>
            <div >
                <label>开始时间</label>
                <input id="date" type="datetime-local">
            </div>
            <div >
                <label>结束时间</label>
                <input  id="endtime" type="datetime-local">
            </div>
            <div >
                <label>是否收费</label>
                <input type="checkbox" name="money" id="money">是
                <input type="checkbox" name="no_money" id="money">否
            </div>
            <div id="local">
                <ul>
                    <li>
                        <label id="lable">活动地点</label>
                        <select name="pro" id="pro">
                            <option value="p1">请选择</option>
                            <option value="p2">四川省</option>
                            <option value="p3">北京市</option>
                        </select>
                        <select name="city" id="city">
                            <option value="c">请选择</option>
                            <option value="c1">成都市</option>
                            <option value="c2">绵阳市</option>
                            <option value="c3">内江市</option>
                            <option value="c4">德阳市</option>
                        </select>
                        <select name="erea" id="erea">
                            <option value="e">请选择</option>
                            <option value="e1">高新区</option>
                            <option value="e2">金牛区</option>
                            <option value="e3">锦江区</option>
                            <option value="e4">青羊区</option>
                            <option value="e5">武侯区</option>
                        </select>
                    </li>
                </ul>
            </div>

        <div id="act_content">
            <label>活动详情</label>
        </div>
        <div id="uploadimg">
                <input type="file" name="file" multiple id="inputs"
                accept="image/*" class='fileTest' multiple="multiple">
                <textarea name="editor" id="editor" cols="30" rows="10" placeholder="请输入活动详情(不能为空)"></textarea>
        </div>
        <div >
            <button id="btm">提交</button>
            <button>取消</button>
        </div>
        </div>
    </div>

    <div id="editor"></div>

        

    </div>
    <div id="right">
        <h1>右边栏内容放这里</h1>



    </div>
</div>
{#</div>#}
    {% include 'footer.html' %}
    <script>

        // 按钮提交发请求
        $('#btn').on('click',function(){
            $.ajax({
                type:'GET',
                contentType: 'application/json',
                url:'http://127.0.0.1:8000/',
                success:function(response){
                    if(response.code==200){
                        alert('ok')
                    }else{
                        alert('服务器异常')
                    }
                }})
        })
    </script>
</body>
</html>