<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/css.css">
    <script src="jquery.min.js"></script>
    <script src="../../static/js/tips.js"></script>
</head>
<body>
    <div id="wrapper">

        <div class="wrapper02">
            <div class="create_active">
                <h2>创建活动</h2>
            </div>

            <div class="select-kind">
                <label>活动类别</label>
                <select name="kind" id="kind">
                    <option value="k1">请选择</option>
                    <option value="k2">跑步</option>
                    <option value="k3">旅游</option>
                </select>
            </div>

            <div class="title">
                <label>活动标题</label>
                <input type="text" required autofocus placeholder="必填项" name="title" id="title">
            </div>

            <div class="time">
                <label>开始时间</label>
                <input type="date" type="datetime-local" id="start-time" required='required'></br>
                <label>结束时间</label>
                <input type="date" type="datetime-local" id="end-time" required='required'>
            </div>

            <div class="is-money">
                <label>是否收费</label>
                <input type="radio" checked='checked' value="money" name="money" id="money">否
                <input type="radio" name="money" id="money">是
            </div>

            <div class="wrapper03">
                <div class="local">
                    <label>活动地点</label>
                    <select name="select-city" id="">
                        <option value="provinces" id="provinces">四川省</option>
                    </select>
                    <select name="citys" id="">
                        <option value="citys" id="citys">成都市</option>
                    </select>
                    <select name="areas" id="">
                        <option value="e0" id="areas">请选择</option>
                        <option value="e1">高新区</option>
                        <option value="e2">金牛区</option>
                        <option value="e3">锦江区</option>
                        <option value="e4">青羊区</option>
                        <option value="e5">温江区</option>
                        <option value="e5">成华区</option>
                        <option value="e5">郫都区</option>
                        <option value="e5">双流区</option>
                      活动地点   <option value="e5">天府新区</option>
                        <option value="e5">青白江区</option>
                        <option value="e5">泉驿区</option>
                    </select>
                    <div class="full-address">
                        <input type="text" name="full-address" placeholder="详细地址(必填项)">
                    </div>
                </div>

                <!-- <div class="full-address">
                    <input type="text" name="full-address" placeholder="详细地址(必填项)">
                </div> -->

                <div class="add-img">
                    <div class="pic">
                        <a href="javascript:void(0)">+点击添加图片</a>
                    </div>

                    <div class="intro">
                        <label>活动详情</label>
                        <textarea name="intro" id="act_intro" cols="60" rows="10" required='required'></textarea>
                    </div>
                </div>

                <div class="submit">
                    <button id="add">创建</button>
                    <button id="quxiao">取消</button>
                </div>
            </div>
        </div>
    </div>


    <div id="tips"></div>

    <script>
        $('#add').on('click',function(){
            alert('创建成功')
        })

        $('#quxiao').on('click',function(){
            document.getElementById('#')
        })

    </script>
</body>
</html>