<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/icclub.css">
    <script src="../static/js/index0000.js"></script>
    <link rel="stylesheet" href="../../static/css/background_imge.css">
    <link rel="stylesheet" href="../../static/images/background_image/a1.png">
</head>
<body>
    <!-- 嵌入导航栏模板 -->


    <!--  box1开始-->
    <div id="box1">

        <!-- ================================= -->
    <div id="kj">
        <!--  推荐  -->
        <div id="tj">
            <span id="il">&lsaquo;</span>
            <img src="../static/image/5.jpg" alt="" id="img" width="600px" height="320px">
            <span id="ir">&rsaquo;</span>
            <div class="tj">
                <p class="p1">热点</p>
                <h3>yiqibaqianli</h3>
                <p class="p2">
                    无匣也无鞘，暗室夜常明。三尺木马牛，可折天下兵。欲知天将雨，铮铮发龙鸣。提剑走人间，百鬼夜遁行。飞过广陵江，八百蛟龙惊。世人不知何所求，那袭青衫放声笑：天不生我李淳罡，剑道万古长如夜。</p>
                <span>2019-12-5</span>
                <div>点赞:100</div>
    
            </div>
    
        </div>
    
        <!--  今日最热  -->
        <div id="jrzr">
            <div class="jrzr">
    
            </div>
        </div>
    </div>
        <!-- ================================= -->
        <div></div>
        <div></div>
    </div>
    <!--  box1结束-->
    <!--  box2开始-->
    <div id="box2">
        <!-- box2左窗口 -->
        <div id="box2_left">
            <!-- box2左窗口上 -->
            <div id="box2_left_up">
                <!-- 左上标题 -->
                <div class="b2_left1">
                    <span>今日热门</span>
                </div>
                <!-- 左上展示窗口 -->
                <div id="b2_l1">
                    <div class="b2_left2"></div>
                    <div class="b2_left2"></div>
                    <div class="b2_left2"></div>
                </div>
            </div>
            <!-- box2左窗口下 -->
            <div id="box2_left_down">
                <!-- 左下标题 -->
                <div class="b2_left1">
                    <span>所有活动</span>
                    <span>热门活动</span>
                    <span>最新活动</span>
                    <span>历史活动</span>
                    <div class="search">
                        <form action="#" method="post">
                            <img src="./search_ico.png" alt="">
                            <input type="text" name="condition" placeholder="请输入搜索条件">
                            <input type="submit" value="搜索">
                        </form> 
                    </div>
                </div>
                <!-- 左下展示窗口 -->
                <div id="b2_l2">
                    <div>活动展示框</div>
                </div>
            </div>
        </div>
            <!-- box2右窗口 -->
        <div id="box2_right">
            <!-- box2右窗口上 -->
            <div id="box2_right_up">
                <!-- 右上标题 -->
                <div class="b2_right1">
                        <span>活动标签</span>
                </div>
            </div>
            <!-- box2右窗口下 -->
            <div id="box2_right_down">
                <!-- 右下标题 -->
                <div class="b2_right1">
                    <span>活跃达人</span>
                </div>
            </div>
        </div>
    </div>
    <!--  box2结束-->

    <!-- footer box-->


</body>
</html>