._1y8AM ._17hEb {
    font-family: Microsoft Yahei, arial, tahoma, \\5B8B\4F53, sans-serif;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 315px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}