<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/css/general.css"></script>
<script src="../../static/js/index.js"></script>

<style>
    #c_label {
        position: relative;
        overflow: hidden;
        width: 280px;
        height: 275px;
        border: 1px solid red;
    }

    #c_label > #lab {
        position: relative;
        left: -25px;
    }

    #c_label > #lab > li {
        float: left;
        list-style-type: none;
        width: 80px;
        height: 40px;
        border-radius: 40px;
        background-color: darkgrey;
        margin: 15px 20px;
        text-align: center;
    {#padding: 0;#} line-height: 40px;
        color: white;
    }
    #c_label>#lab>li>a{
        text-decoration: none;
        font-size: 16px;
        color: white;
    }

    #c_label > #lab_btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 20px;
        border-radius: 6px;
        background-color: #678;
        color: white;
        font-size: 10px;
        margin: 5px 5px 0 0;
        text-align: center;
    }

</style>
<body>
<div id="c_label">
    <ul id="lab">

    </ul>
    <span id="lab_btn">换一换</span>
</div>
<script>
    // 获取数字 最大值+多少个数+字符串是否加0+是否是向上取整
    function getRandByParm(max, len, blnz = false, blnt = false) {
        var _arr = [];
        while (_arr.length < len) {
            if (!blnt) {
                var n = Math.floor(Math.random() * max)
            } else {
                var n = Math.ceil(Math.random() * max)
            }
            if (n < max && blnz) {
                n = '0' + n
            }
            var reg = new RegExp(n, 'g');
            if (!reg.test(_arr.toString())) {
                _arr.push(n)
            }
        }
        return _arr
    }


    function make_label(){
        var nums = getRandByParm(LOCALLABELLIST.length, 6);
        var mes = ''
        var label_list = []
        $.each(nums,function (index,num) {
            num = Number(num)
            label_list.push(LOCALLABELLIST[num])
        })

        $.each(label_list,function (index,val) {
            tit_url = 'http://127.0.0.1:8000/index/'+ LOCALLABEL.label[val]
            mes += '<li><a'+ ' href='+ tit_url +'>' + val + '</a></li>'
        })

        $('#lab').html(mes)
    }

    // 获取标签 生成随机标签
    function get_label(state) {
        if (!state) {
            // 未登录 从静态文件取随机标签
            make_label()
        } else {
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: 'http://127.0.0.1:8000/index/label',
                success: function (response) {
                    if (response.code == 200) {
                        data = response.data
                        var mes = ''
                        $.each(data,function (index,val) {
                            tit_url = 'http://127.0.0.1:8000/index/'+ data[val]
                            mes += '<li><a'+ ' href='+ tit_url +'>' + val + '</a></li>'
                        })
                        $('#lab').html(mes)
                    } else {
                        get_label(true)
                    }
                }
            })
        }
    }

    // 如果是游客 从静态文件取随机标签 如果登录 取后台数据
    $('#lab_btn').on('click', function () {
        var loginName = window.localStorage.ICClub_user;
        get_label(loginName)
    })


    // 模拟点击
    $('#lab_btn').click()


</script>
</body>
