{#导航栏#}

<div id="nav">
        <div class="con">

            <div class="log">
                <span class="icon">ICClub</span>

            </div>

            <div class="nav_r">
                <div class="top_l">
                    <div class="top_act">
                        <a id='reg' href="register.html">注册</a>
                        <span><b>|</b></span>
                        <a id='login' href="login.html">登录</a>

                    </div>
                </div>
            <ul>
                <li id="l1" class="focus">主页</li>
                <li id="l2" >论坛</li>
                <li id="l3" >发布活动</li>

            </ul>
        </div>
        </div>
</div>
