<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/wz_404error.css">
    <link rel="stylesheet" href="../../static/css/icclub.css">
    <link rel="stylesheet" href="search.css">
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/base_con.js"></script>
    <script src="../../static/js/jquery.page.js"></script>
    <script src="../../static/js/jquery-3.1.1.min.js"></script>


</head>

<body>
<!-----{#<img id="bg" src="images/contentbg.jpg" alt="">#}--------->

<div class="nav_404page">
    <div class="logo_404page">
        <span class="icon">ICClub</span>
        <img src="../../static/images/logo404.png" alt=" ">
    </div>
    <div class="nav_404page_r">
        <ul>
            <li><a href="../index.html">主页</a></li>
            <li><a href="../Community.html">论坛</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-----
<div class="notfound_box">

    <div class="logo">
        <div class="notfound_img">
            <img src="../../static/images/notfound.png">
        </div>
        <div class="notfound_text">
            <img src="../../static/images/signal.png">
            <span>您找得信息跑到火星去了</span>。
        </div>
    </div>
    <div class="buttom">
        <div class="seach_bar">
            <p>重新搜索</p>
            <div class="search_box">
                <div>
                    <input id='err_input' type="text" value="搜索" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = '搜索';}">
                    <input id='err_submit' type="submit" value="">
                </div>
            </div>
        </div>
--------->

<div class="sbotton">
    <div id="top_input" class="lf">
        <input id="input" type="text" placeholder="请输入您要搜索的内容" class="enterCode"/>
        <!--- <a href="#" class="rt">--->
        <img id="search" src="../../static/images/search_ico.png" alt="搜索"/>
    </div>
</div>



    <div class="store_action_left_content">
        <div id="plist">
            <div class="salc_top">
                搜索结果
            </div>

            <div class="salc_content">


                <div id="new_act_">
                    <img src="../../static/images/bg2.jpg" alt="" act_id=10010>
                    <div id="new_content">
                        <div id="n_tit" act_id=10010>活动标题</div>
                        <div id="n_cont" act_id=10010>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                            内容内容内容内容内容内容内容内容内容内容
                        </div>
                        <div id="n_lt">
                            <div id="n_lab">运动</div>
                            <div id="n_time">2019/12/25</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="pager">
                <a href="javascript:;" class="disabled" id="previous">上一页</a>
                <div id="btnBox" style="display: inline-block;"></div>
                <a href="javascript:;" class="nextPage" id="next">下一页</a>
            </div>
        </div>
    </div>




<p class="copy_right">Design BY <b>
    <a href="../index.html" target="">&nbsp;ICClub&nbsp;</a>
</b> 备20191205号 </p>


<script>
    //搜索跳转


    $('#search').click(function () {
        alert('ssss');
        var val = $('#input').val();
        if (val) {
            window.location.href = 'notfound.html?kw=' + val;
        } else {
            alert('搜索为空,请重新输入')
        }
    });


    $('#input').on('keypress', function (event) {
        if (event.keyCode == 13) {
            $('#search').trigger('click')
        }
    });

// /**头部搜索按钮**/
// $('#search').on('click',  function () {
//     var kw = $('.input-kw').val();
//     var loc = 'activity.html';
//     if (kw) {
//         loc += '?kw=' + kw;
//     }
//     location.href = loc;
// })

function toUnicode(s) {
   return s.replace(/([\u4E00-\u9FA5]|[\uFE30-\uFFA0])/g, function (newStr) {
       return "\\u" + newStr.charCodeAt(0).toString(16);
   });
}

</script>

<script>

    let getQueryString = (searchKey) => {
        /**
         * @param {String} searchKey [查询url数据]
         * @return {String} searchData [查询结果]
         *
         **/
        let searchData = {};
        let urlData = window.location.href;
        urlData = urlData.split('?');
        urlData.shift();
        urlData = urlData[0].split('&');
        urlData.forEach((item, i, self) => {
            let urlDataItem = item.split('=');
            searchData[urlDataItem[0]] = urlDataItem[1];
        });
        return searchData[searchKey];
    };

    document.addEventListener('DOMContentLoaded', () => {
        //SER_URL = 'http://127.0.0.1:8000/
        const SEARCHHOST = SER_URL;

        const SEARCHURL = SEARCHHOST + 'active/search';
        /*const BASE_URL = '../static/media/';*/
        //let searchData = getQueryString( 'kw' );
        let searchData=getUrlParam('kw');
        //searchData=decodeURIComponent(searchData);
        //alert(searchData);
        alert(unescape(searchData.replace(/\\/g, "%")));
        // reloadDom();
        /* 请求详情数据 */
        $.ajax({
            type:'post',
            url: SEARCHURL,
            data: {
                //q:searchData.replace(/\\/g, "%"),
                q:unescape(searchData.replace(/\\/g, "%")),
            },
            contentType:'application/json; charset=UTF-8',
            success(data) {
                if (data.code == 200) {
                    var result = data;
                    //加载渲染
                    if (result.result)
                        console.log("pages: " + pages);
                    var pages = Math.ceil(result.paginator.total / result.paginator.pagesize);
                    window.localStorage.setItem('pageMax', pages);
                    var html = '';
                        html += '<a href="javascript:;" class="current">1</a>';
                    for (var j = 2; j <= pages; j++) {
                        html += '<a href="javascript:;" class="tcdNumber">' + j + '</a>'
                    }
                    console.log(html);

                    $('#btnBox').html(html);

                    var res = '';
                    result.data.forEach(val => {
                        res += '<div id="new_act_">';
                        res += '<img src="' +IMG_URL + val.imgurl + '" alt="" act_id="' + val.act_id + '">';
                        res += '<div id="new_content">';
                        res += '<div id="n_tit" act_id="' + val.act_id + '">' + val.subject + '</div>';
                        res += '<div id="n_cont" act_id="' + val.act_id + '"><p>' + val.content + '</p></div>';
                        res += '<div id="n_lt">';
                        res += '<div id="n_lab">' + val.tag + '</div>';
                        res += '<div id="n_time">' + val.date + '</div>';
                        res += '</div></div></div>'
                    });

                    $('.salc_content').html(res);
                    $('.salc_top').html('搜索结果  共' + result.data.length + '条')
                } else {
                    console.error(data.msg)
                }
            },
            error(err) {
                console.log(err);
            }
        });

        class btnList {
            constructor(btnBox, previous, next) {
                /**
                 * @this {Element} btnBox   [按钮父元素]
                 * @this {Number}  page     [当前页]
                 * @this {Array}   btnList  [当前按钮集合]
                 * @this {Element} previous [上一页]
                 * @this {Element} next     [下一页]
                 * @this {Object}  listData [缓存请求数据]
                 * @this {Number} index    [当前元素于btnList的下标]
                 * @this {Boolean} nextFlag [判断下一页是否存在数据]
                 */
                this.btnBox = btnBox;
                this.page = 1;
                this.btnList = null;
                this.previous = previous;
                this.next = next;
                this.listData = new Map();
                this.index = 0;
                this.PageMax = window.localStorage.pageMax;
                this.catalog_id = window.localStorage.catalog_id
            }

            init() {
                console.log(this.catalog_id);
                this.btnList = [].slice.call(this.btnBox.children);
                this.register();
            }
register(){
        /* 注册点击事件 */
        this.previous.addEventListener( 'click' , ()=>{this.previousPage()} , false );
        this.next.addEventListener( 'click' , ()=>{this.nextPage()} , false );
        this.btnBox.addEventListener( 'click' , e=>{this.handleClickBtn(e)} , false );
      }
            previousPage() {
                /* 上一页处理函数 */
                if (this.page < 2) {
                    return
                }
                if (this.index < 1) {
                    this.btnList.forEach(item => {
                        item.innerHTML = Number(item.innerHTML) - 1;
                    })
                }
                this.page--;
                this.index--;
                if (this.index < 1) {
                    this.index = 0;
                }
                let elm = this.btnList[this.index];
                this.handleClick(elm);
            }

            nextPage() {
                /* 下一页处理函数 */
                if (this.page == this.PageMax) {
                    alert('已经是最后一页了！')
                    return
                }
                if (this.index >= this.btnList.length - 1) {
                    this.btnList.forEach(item => {
                        item.innerHTML = Number(item.innerHTML) + 1;
                    })
                }

                this.page++;
                this.index++;
                if (this.index > this.btnList.length - 1) {
                    this.index = this.btnList.length - 1;

                }
                let elm = this.btnList[this.index];
                this.handleClick(elm);
            }

            handleClickBtn(e) {
                /* btn处理函数 */
                let target = e.target;
                if (target.nodeName !== 'A') {
                    return
                }
                let index = this.btnList.indexOf(target);
                let page = target.innerHTML;
                this.page = page;
                this.index = index;
                this.handleClick(target);
            }

            handleClick(elm) {
                this.ajax();
                /* 删除btn current样式*/
                this.btnList.forEach(item => {
                    item.classList.remove('current');
                });
                /* 为当前点击元素 添加current */
                elm.classList.add('current');
            }

            ajax() {
                $.ajax({
                    type: 'post',
                    url: SEARCHURL,
                    data: {
                        q: unescape(searchData.replace(/\\/g, "%")),
                        page: this.page,
                    },
                    contentType:'application/json; charset=UTF-8',
                    success(data) {
                        if (data.code == 200) {
                            var result = data
                            //加载渲染
                            if (result.result)
                                var res = ''
                            result.data.forEach(val => {
                                res += '<div id="new_act_">';
                        res += '<img src="' +IMG_URL + val.imgurl + '" alt="" act_id="' + val.act_id + '">';
                        res += '<div id="new_content">';
                        res += '<div id="n_tit" act_id="' + val.act_id + '">' + val.subject + '</div>';
                        res += '<div id="n_cont" act_id="' + val.act_id + '"><p>' + val.content + '</p></div>';
                        res += '<div id="n_lt">';
                        res += '<div id="n_lab">' + val.tag + '</div>';
                        res += '<div id="n_time">' + val.date + '</div>';
                        res += '</div></div></div>'
                            });

                            $('.salc_content').html(res);
                            $('.salc_top').html('搜索结果  共' + result.data.length + '条')
                        } else {
                            console.error(data.msg)
                        }
                    },
                    error(err) {
                        console.log(err);
                    }
                });


            }
        }

        setTimeout(new btnList($('#btnBox')[0],
            $('#previous')[0],
            $('#next')[0]).init(), 2000);
    });


</script>
<script>
    //获取参数

    // $(function () }

    //   $.ajax(
    //     type: "get",
    //     url: baseUrl + "/memberapp/search",
    //     data:
    //       connect: window.location.href.split('=')[1]
    //     },
    //     success: function (data)
    //       var result = JSON.parse(data)
    //       console.log(result)
    //       //加载渲染
    //       if (result.result) }
    //         var list = ''
    //         result.data.forEach(el => }
    //           list += '<div class="product" data-id="' + el.goodid +
    //             '"><a href="product_details.html?typeid=' + el.typeid + '&goodid=' + el.goodid + '">'
    //           list += '<img src="' + baseUrl + '/images' + el.listimg + '" alt="' + el.title + '"></a>'
    //           list += '<div class="addRemoveProduct"><a href="product_details.html?typeid=' + el.typeid + '&goodid=' + el.goodid + '" class="title" title="' +
    //             el.title + '">' + el.title + '</a>'
    //           list += '<span class="price">￥' + el.price + '</span></div></div>'
    //         });
    //         list += '<div class="pager"></div>'
    //         $('.salc_content').html(list)
    //         console.log()
    //         $('.salc_top').html('搜索结果  共'+result.data.length+'条')
    //       }
    //     },
    //     error: function (data) }
    //       console.log(data)
    //     }
    //   })
    // })
    //加载
    })
</script>


</body>
</html>